.app {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: lightgray;
    padding: 100px;
    border-radius: 10px;
}

.input {
    border: 1px solid lightgray;
    background-color: transparent;
    outline: none;
    padding: 5px;
}